<div id="<%= dom_id project %>">
  <p  class="display-4">
    <%= project.project_name %>
  </p>

  <p class="lead">
    <%= project.project_description %><br>
    <% @project_user_id = project.user_id %>
  </p>

</div>
