<h1 align="center" class="col p-3 mb-2 bg-light text-dark">Editing Project</h1>

<%= render "form", project: @project %>

<br>

<div>
  <%= link_to "View", @project, class:"btn btn-secondary" %> 
  <%= link_to "Back", projects_path, class:"btn btn-dark" %>
</div>
<br/>