<h1 align="center" class="col p-3 mb-2 bg-light text-dark">Add New Project</h1>
<br>
<%= render "form", project: @project %>

<div>
  <%= link_to "Back to projects", projects_path, class:"btn btn-dark" %>
</div><br/>
